@use '../../../styles/index' as ui;

.textfield {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  padding: ui.$space-3;
  font-size: 14px;
  line-height: 1.5;
  background-color: ui.$color-bg-page;
  color: ui.$color-text-primary;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.action-button {
  margin: 0 2rem;
}
