<div class="dashboard-container">
  <mat-toolbar color="primary" class="main-toolbar">
    <mat-icon class="logo-icon">trending_up</mat-icon>
    <span class="toolbar-title">Stock Master</span>
    <div class="nav-list-horizontal">
      <button mat-button *ngFor="let item of navigationItems" [routerLink]="item.route" routerLinkActive="active-nav-item">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.label}}</span>
      </button>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    
  </mat-toolbar>
</div>
